@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */

* {
	margin: 0;
	padding: 0;
}

.btn-container {
	text-align: center;
}

.btn {
	position: static;
	width: 141px;
	height: 32px;

	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10;
	padding: 8px 14px 8px 14px;

	color: rgb(255, 255, 255);
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 300;
	line-height: 11px;
	letter-spacing: 0%;
	text-align: center;
	background: rgb(82, 195, 3);
	border-radius: 8px;
	padding: 10px 16px 10px 16px;
	border: none;
	cursor: pointer;
}

#hero {
	background: linear-gradient(
			0deg,
			rgb(9, 9, 9) 2.884%,
			rgba(16, 16, 16, 0) 101.034%
		),
		url(../assets/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 588px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#hero .hero-content {
	width: 654px;
}

#hero .hero-content .subtitle {
	opacity: 0.8;
	color: rgb(255, 255, 255);
	font-family: Work Sans;
	font-size: 20px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: 0%;
	text-align: center;
}

#hero .hero-content .title {
	color: rgb(255, 255, 255);
	font-family: Work Sans;
	font-size: 40px;
	font-weight: 700;
	line-height: 51px;
	letter-spacing: 0%;
	text-align: center;
	margin-bottom: 10px;
}

#hero .hero-content .description {
	opacity: 0.7;
	color: rgb(255, 255, 255);
	font-family: Work Sans;
	font-size: 11px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0%;
	text-align: center;
	margin-bottom: 30px;
}

#card-box {
	width: 1170px;
	margin: 0 auto;
}

#card-box .title {
	color: rgb(16, 16, 16);
	font-family: Work Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0%;
	text-align: center;
}

#card-box .subtitle {
	color: rgb(16, 16, 16);
	font-family: Work Sans;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0%;
	text-align: center;
	opacity: 0.6;
}

.card-container {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.card {
	font-family: Work Sans;
	max-width: 212px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.card .image-box {
	width: 212px;
}

.card .image-box img {
	width: 100%;
}

.card .shop {
	background-color: aqua;
	padding: 7px 16px 7px 16px;
	border-radius: 8px;
	background: rgba(82, 195, 3, 0.15);
}

.card .card-subtitle {
	color: rgb(16, 16, 16);
	font-family: Work Sans;
	font-size: 9px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0%;
	text-align: center;
}

/* About Us Section */

#about-us {
	width: 1170px;
	margin: 0 auto;
	background-color: red;
}

.about-image {
	width: 480px;
	height: 335px;
}
.about-image img {
	width: 100%;
}

#about-us .about-us-container .h2-layout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	/* Font Layout */
	color: rgb(16, 16, 16);
	font-family: Work Sans;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0%;
	text-align: center;
}

#about-us .about-us-container .h5-layout {
	/* Don’t miss a thing! Subscribe to our newsletter */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 24px;
	padding: 0px;

	/* Inside Auto Layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 24px 0px;
	/* Style */
	opacity: 0.6;

	/* Font Layout */
	color: rgb(16, 16, 16);
	font-family: Work Sans;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0%;
	text-align: left;
}
#about-us .about-us-container .h2-h4-h5 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
